.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
}

.Info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.Filter {
  display: flex;
  align-items: center;
  gap: 4px;
}
