.List {
  align-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .List {
    max-width: 735px;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 625px) {
  .List {
    max-width: 360px;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr;
  }
}
