* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  background: #f2f4f7;
}

#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}
